@charset "utf-8";

.header{
	background: url(../images/bg2.jpg) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	min-height: 700px;
	position: relative;
}
.systitle {
	padding: 2vw 0 1vw 4vw;
}

.atype {
	color: #fff;
	font-weight:800;
}

span {
	display: inherit;
}


.showplace {
	width: 80vw;
	margin: 1vw 0 0 5vw;
}

.showtable {
	width: 80vw;
	background: rgba(255,255,255,0.5);
	margin: 0 5vw 0 5vw;
	font-size: 2vw;
}
.top {
	display: -webkit-box;
	display: -ms-flexbox;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0.75rem 1rem;
	margin-bottom: 1rem;
	list-style: none;
	background: rgba(255,255,255,0.5);
	border-radius: 0.25rem;
	height: 3vw;
}

.text {
	margin: 0 0 0 30vw;
}

.texttype {
	font-size: 1.5vw;
	font-family:'Roboto', sans-serif;
	border-radius: 0.1vw;
}
.booksearch {
	font-size: 1.5vw;
	width: 5.5vw;
	color:aqua;
	font-weight:800;
	margin: 0 0 0 9vw;
	border-color:yellow;
	font-family: 'Roboto', sans-serif;
	border-radius:0.35vw;
	background: #cc2105;
	color: #fff;
	letter-spacing: 1px;
	border: none;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
}
button.booksearch:hover{
	border-radius: 0.35vw;
	background-color: #0EBEFF;
}
.booksearch:hover{
	border-radius: 0.35vw;
	background-color: #0EBEFF;
}
.searchbutton {
	margin: 0 0 0 4vw;
}

li {
	margin: 0 0 0 4vw;
}
label {
	padding: 0vw ;
	margin: 1vw 5vw 1vw 5vw;
	font-size: 3vw;
}

.labletype {
	font-size: 2vw;
	color: #fff;
	margin:2vw;
}

.texttype {
	margin: 1vw 2vw;
	height: 2vw;
	font-size:2vw;
	width: 25vw;
}
#dealplace{
	display: block;
}
#charge{
	display: none;
}