
@charset "utf-8";
      

.div2 {
	background:url("../images/register.jpg") center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	position: relative;
	height: 1000px;
}

.container {
	margin: 10vw 35vw 0vw 35vw;
	width: 30vw;
	height: 4vw;
	background:rgba(0,0,0,0.5);
}

.registertitle {
	display: inline-block;
	height: 5vw;
	width: 30vw;
	font-size: 2vw;
	color: #fff;
	margin: 0vw;
	background:rgba(204,33,5,0.5);
	text-align: center;
}

label {
	padding: 0vw ;
	margin: 1vw 5vw 1vw 5vw;
	font-size: 3vw;
}

.labletype {
	font-size: 2vw;
	color: #fff;
	margin:2vw;
}

.texttype {
	margin: 1vw 2vw;
	height: 2vw;
	font-size:2vw;
	width: 25vw;
}

.registerbutton {
	margin: 2vw 2vw 2vw 2vw;
	font-size: 1.5vw;
	width: 25vw;
	font-weight:800;
	font-family: 'Roboto', sans-serif;

	background: #000000;
    color:#CC2105;
    letter-spacing: 1px;
    border-color: #CC2105;
	border-width: 2px;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
.registerbutton:hover{
	background:#CC2105;
	border-right: 0.15vw;
	color: #fff;
}
