@charset "utf-8";

.header{
	background: url(../images/bg1.jpg) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	min-height: 900px;
	position: relative;
}



.shoppingtable {
	margin: 0 0vw 0 0vw;
	font-size: 2vw;
	width: 100vw;
	background: rgba(255,255,255,0.5);
	float: left;
	text-align: center;
	font-size: 2vw;
	display: inline-block;
}

.bookid {
	width: 10vw;
}


.bookname {
	width:20vw;
}

.bookwriter {
	width: 10vw;
}

.addtime {
	width: 10vw;
}

.bookprice {
	width: 10vw;
}

.buybutton {
	width: 20vw;
}
.booksearch {
	font-size: 1.5vw;
	width: 5.5vw;
	color:aqua;
	font-weight:800;
	border-color:yellow;
	font-family: 'Roboto', sans-serif;
	border-radius:0.35vw;
	background: #cc2105;
	color: #fff;
	letter-spacing: 1px;
	border: none;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
	margin: 0 0 0 4vw;
}
button.booksearch:hover{
	border-radius: 0.35vw;
	background-color: #0EBEFF;
}
.booksearch:hover{
	border-radius: 0.35vw;
	background-color: #0EBEFF;
}
.numinput {
	border-radius: 0.25vw;
	background-color:rgba(255,255,255,0.5);
	height: 1.5vw;
	margin: 0 0 0.5vw 0;
}

.checktype {
	transform: scale(2,2);
}

.sum {
	float: left;
	width: 30vw;
	margin: 1vw 0 0 65vw;
	font-size: 2vw;
	background: rgba(14,190,255,0.5);
}

.bt {
	float: left;
	width: 40vw;
	margin:2vw 0 0 61vw;
}

.container {
	width: 100vw;
}
